<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona domowa - Comfy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/ico.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/styles.css" />
    <script src="assets/dom.js"></script>
    <script src="assets/app.js"></script>
</head>
<body>
<!-- Header -->
<header>
    <div class="wrapper">
        <div class="row" style="align-items: center;">
            <div>
                <img src="assets/logo.svg" alt="comfy" />
            </div>
            <div>
                <nav>
                    <ul>
                        <li>
                            <a href="catalog.html">
                                Catalog
                            </a>
                        </li>
                        <li>
                            <a href="index.html#categories">
                                Kategorie
                            </a>
                        </li>
                        <li>
                            <a href="info.html">
                                Informacje
                            </a>
                        </li>
                        <li>
                            <form id="search">
                                <input type="search" name="q"
                                       placeholder="Search the site..."
                                       aria-label="Search through site content">
                                <button>Search</button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
            <div >
                <a class="btn btn-primary-inv" href="registration.html">
                    Rejestracja
                </a>
            </div>
        </div>
    </div>
</header>
<!-- Navigation Bar -->
<div class="categories-navbar">
    <div class="wrapper">
        <div class="dropdown">
            <span>Laptopy</span>
            <div class="dropdown-content">
                <a href="#">Telefony</a>
                <a href="#">Drukarki</a>
                <a href="#">Laptopy</a>
            </div>
        </div>
        <a href="#">Telefony</a>
        <a href="#">Drukarki</a>
        <a href="#">Laptopy</a>
    </div>
</div>
<!-- Content -->
<div class="wrapper">
    <article class="row">
        <section class="side">
            <h3>Specjalne propozycje</h3>
            <ul class="products-list">
                <li>
                    <a href="item.html">
                        <img src="assets/img1.jpg" alt="Laptop Asus" class="item-img"/>
                        <h4>Laptop ASUS </h4>
                    </a>
                    <span>3000,- zł</span>
                </li>
                <li>
                    <a href="item.html">
                        <img src="assets/img2.jpg" alt="Laptop Asus" class="item-img"/>
                        <h4>Laptop ASUS </h4>
                    </a>
                    <span>3000,- zł</span>
                </li>
            </ul>
            <div style="text-align: center">
                <a href="assets/price.pdf" download class="btn btn-primary">
                    Pobiez cennik
                </a>
                <a href="mailto:klienci@comfy.com" class="btn btn-success">
                    Skontaktuj się
                </a>

            </div>
        </section>
        <section class="main">
            <section id="main-loading">
                <div class="spinner-anim">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </section>
            <section id="main-body" style="display: none">

            </section>
        </section>
    </article>
</div>
<!-- Footer -->
<footer>
    <div class="wrapper">
        <ul>
            <li>
                <a href="catalog.html">
                    Catalog
                </a>
                <ul>
                    <li>Laptopy</li>
                    <li>Telefony</li>
                    <li>Drukarki</li>
                </ul>
            </li>
            <li>
                <a href="info.html">
                    Informacje
                </a>
                <ul>
                    <li>O Sklepie</li>
                    <li>Platnosc</li>
                    <li>Dostawa</li>
                </ul>
            </li>
            <li>
                <button class="btn btn-primary" onclick="inspect();">
                    Zobacz elementy strony
                </button>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>